[2017-09-12 00:54] izwick-schachter opened #3 "Rescue request table view"
We should add a RescueRequest table view that will show the values of some columns (e.g. name, case id, status) but hide other info behind a link labelled "Click to view more information. Access is logged.". That link should make a AJAX call to the backend where the request is logged in a PIIAccessEvents table and the values are returned.

[2017-09-12 16:48] ArtOfCode- commented on #3
Done, look at [`rescue_requests#disaster_index`](https://github.com/CrowdRescueHQ/CrowdRescue/blob/master/app/controllers/rescue_requests_controller.rb#L15), [`AccessLog`](https://github.com/CrowdRescueHQ/CrowdRescue/blob/master/app/models/access_log.rb), and [`AccessLogger`](https://github.com/CrowdRescueHQ/CrowdRescue/blob/master/app/controllers/concerns/access_logger.rb).

[2017-09-12 16:48] #3 closed

[2017-09-13 00:05] izwick-schachter opened #4 "Resource Tracking"
We should add a section to track various resources that could be useful to victims of disasters, for example shelter, food sources, etc. This is _fairly_ low priority because fulcrum already does this well enough, and there's not a whole lot of room to improve.

[2017-09-14 03:45] izwick-schachter opened #6 "Color Coding"
We should apply some kind of color coding to the rows. Currently, in the master sheet:

- Dark Green = Rescued
- Light Green = Declined rescue
- Red = Not medical triaged and emergent
- Pink = Emergent (red overrides)
- Purple = Medevac
- Yellow = Semi-Urgent
- Orange = Urgent
- Light Blue = Rescue Pending/Missing/Wellness Check

[2017-09-14 03:49] izwick-schachter opened #7 "Filter by multiple statuses"
The current filter option should allow a selection of multiple options in the dropdown to filter by multiple statuses.

[2017-09-14 03:51] izwick-schachter opened #8 "Case comments"
It should be possible to leave timestamped comments on a person/case which are labled by the person who made them. We could also use comments as a kind of update logging. E.g. "X updated a to be b and c to be d." and credit those comments to "System".

[2017-09-14 22:50] izwick-schachter commented on #6
Finished, see b0cd4b6

[2017-09-14 22:50] #6 closed

[2017-09-14 23:04] #7 closed

[2017-09-14 23:17] ArtOfCode- commented on #8
2b16378bde4d64109df03ee76aa9f4728367b9c1

[2017-09-14 23:17] #8 closed

[2017-09-14 23:53] izwick-schachter opened #9 "Count reports for each RescueRequest"
Each `RescueRequest` should have a `reports` counter to keep stats. Each time one `RescueRequest` is merged into another, the master should have the dupe's `reports` added to its `reports`.

[2017-09-14 23:55] izwick-schachter opened #10 "Medical Requirements"
The medical people would like a couple things:

- [x] Editable, private field that's only viewable/editable for people with the medical role called "Chart Code"
- [x] Medical-only comments, only viewable/creatable for people with the medical role. Possibly filterable on the client side.
- [x] A special triage status that only medical can edit but is publicly viewable. The options are: Medevac, Eme

[2017-09-14 23:57] izwick-schachter opened #11 "Link expansion"
For twitter links that are stored, we should provide an embedded version of that tweet on the view for the `RescueRequest`.

[2017-09-15 00:01] ArtOfCode- commented on #11
That's labelled as a Twitter handle, not a Tweet link...

[2017-09-15 00:07] izwick-schachter commented on #11
Oh. In that case, we should add a twitter link field first, because that's in the spreadsheet and it's useful info.

[2017-09-15 00:07] ArtOfCode- commented on #10
These'll be visible to medical *and developers*, but they can be done pretty easily.

[2017-09-15 00:08] izwick-schachter commented on #10
That's fine. I talked to one of the medical people, and nothing they'll be putting in there should give us HIPAA issues.

[2017-09-15 01:42] izwick-schachter opened #12 "Add options to public triage/Tagging system"
Here's a list of all the public triage options (comma delimited): Rescued, Declined to be rescued, Supply request only, Monitor status, Deceased, Missing, Rescue pending, Wellness Check, Pets Only

[2017-09-15 01:55] izwick-schachter commented on #12
This system could also be improved by allowing admins/devs to create new triage options or edit existing ones like they're tags.

[2017-09-15 01:56] izwick-schachter opened #13 "Editable View"
It should be possible for a RescueRequest to be edited. Who edited, what they changed, and when they edited should be logged, possibly in a comment (see #8).

[2017-09-16 18:17] #11 closed

[2017-09-16 20:15] izwick-schachter commented on #10
@ArtOfCode- If I make a route to update the medical triage status in the rescue request controller (which includes AccessLogger), will it log the user who edited it, the previous value, and the new value in a format where it's easily displayable?

[2017-09-16 20:35] izwick-schachter opened #16 "Track Contacts"
We should add a table, similar to case notes, where every time a person is contacted we can track how they were contacted, when, by whom, and what the conclusion of that contact (or failed contact attempt) was.

[2017-09-16 22:25] ArtOfCode- commented on #16
We can use case notes for this. We can add a structured way to input the contact attempt details, but there's no need for a new model.

[2017-09-16 22:34] ArtOfCode- commented on #10
Nope. AccesLoggeris literally just who viewed what, when, and via what action. You also need to add the action to log_actions if you want it to create those logs.

[2017-09-17 03:52] izwick-schachter opened #17 "Assign Volunteer to Case"
It might be useful to be able to have each case be assigned to a volunteer so it's more consistent for the person on the receiving end. Either way, it can't hurt to build this in.

[2017-09-17 03:57] izwick-schachter opened #18 "Incident Updates/Suggested Edits"
We need to fill the need of having a "suggested edits" queue, where one group of volunteers can fill out an update form and other volunteers can process it. This could work like suggested edits or it could be a form which feeds a queue. Both would be similar, but the latter would require a new table. We need to get more feedback about this.

Each edit should get logged and possible have an attache

[2017-09-17 16:03] #13 closed

[2017-09-17 16:28] #10 closed

[2017-09-17 16:40] #12 closed

[2017-09-17 17:11] ArtOfCode- opened #21 "Make edit notes formatted correctly"
System case notes detailing edits to rescue requests aren't formatted correctly:

![case-note](https://user-images.githubusercontent.com/10406565/30523120-60a180c0-9bd3-11e7-89a9-00c372659022.png)

This requires HTML to format correctly, not `\n` joins, but doing that requires careful work to make sure there's no injection/XSS vulnerability.

While we're at it, we could ignore nil/empty being chan

[2017-09-17 17:35] izwick-schachter commented on #21
I think a simple `#gsub("\n", "<br>")` should work for the log formatting. I don't see a need to deal with nil/empty, but I can certainly fix it.

[2017-09-17 18:11] izwick-schachter commented on #21
Case note formatting should be fixed in bdf26ac, and I'm working on the nil/empty thing now.

[2017-09-17 18:38] izwick-schachter commented on #21
Now this should be fixed. @ArtOfCode- unless you've got a reason why the HTML should be stored in the DB instead of converted when rendering the view, this issue should be closed.

[2017-09-17 19:01] #21 closed

[2017-09-17 19:51] izwick-schachter opened #22 "Unrestricted Update"
Anyone who knows the ID (which is given in the URL) can update a rescue request. We need to use the key field to restrict that to only people who have either 1) created it or 2) are authenticated.

[2017-09-17 20:00] izwick-schachter opened #23 "Restart Queues"
We need to restart queues development, and with a plan this time. Here's the structure:

Each rescue request has 2 new attributes, `dupe_of:integer` and `spam:boolean`.

There's a new `ReviewTask` table to log reviews.

When somone hits `/queues/spam` it pulls a random record with `RescueRequest.where(spam:nil).order("RAND()").first` (modified so it doesn't grab anything with a reviewtask already

[2017-09-17 20:02] izwick-schachter opened #24 "Incident Update"
There needs to be a way to suggest edits to a rescue request and have them reviewed. In the old sheet, this was done by filling out a google form and the actions were manually done to the master by a volunteer who has that power.

[2017-09-17 20:04] izwick-schachter commented on #24
Duplicate of #18

[2017-09-17 20:04] #24 closed

[2017-09-17 20:58] ArtOfCode- commented on #23
Why random? Why not most-recent-first (or most-recent-last)?

[2017-09-17 20:59] ArtOfCode- commented on #22
The key is useful for letting the unauthenticated creator edit the request, yes - but for authenticated users, we should just be using roles and letting anyone with a specific set of roles edit the request.

[2017-09-17 21:00] ArtOfCode- commented on #22
We can probably give edit access to triage, medical, and admin/developer.

[2017-09-17 21:02] ArtOfCode- commented on #22
We can also create a system that allows us to give specific users authorization to edit a request even if they don't have one of the required roles. That'll be more complex, though, and lower priority - I'll create a separate issue for that and self-assign for me to work on next week,

[2017-09-17 21:04] ArtOfCode- opened #25 "Permit specific users edit access to a rescue request"
We should create a system that allows admins to grant access to any user to edit a rescue request, regardless of what roles they have.

This will involve some fairly complex associations and security, but I have a pretty good idea of how to design it. I'll start working on this next week.

[2017-09-17 21:10] izwick-schachter commented on #23
I'm concerned about 2 people getting the same review.

[2017-09-18 01:57] izwick-schachter commented on #9
This is obsolete now that we're not actually merging, instead we're just marking them with `dupe_of`.

[2017-09-18 01:57] #9 closed

[2017-09-18 01:58] izwick-schachter commented on #16
But what's the harm of a new model? Having a new model would make it much more searchable, and flexible if we want to work with that data in the future.

[2017-09-18 08:26] ArtOfCode- commented on #16
Valid point. Okay, new model it is :)

[2017-09-18 08:35] ArtOfCode- commented on #23
There's no guarantee that won't  happen with random selection either, though. Instead, order by some other more logical order, and add a review_locked attribute to rescue requests that we use to indicate when someone is already doing that review.

[2017-09-18 11:21] izwick-schachter commented on #23
But what if they start it and never finish?

[2017-09-18 18:28] ArtOfCode- commented on #23
Add a time limit - if the review hasn't unlocked within 10 minutes, automatically unlock it. That also requires a check in the review submission action that the review is locked to the current user - if it's not, someone else might be doing it because of the auto-unlock.

[2017-09-19 00:50] izwick-schachter opened #27 "People can edit other peoples comments"
This should not be allowed

[2017-09-19 00:51] izwick-schachter opened #28 "No role redirect from help form"
Currently, if you have no role, after requesting help, you'll be redirected to the page with your info. Sadly, if you get to that page, you don't have the privileges to see it, and so it will be hidden from you.

[2017-09-19 02:49] izwick-schachter commented on #23
It might be nice to add in some websockets e.g. to push "Another user completed this review" or "Another user edited this rescue request"

[2017-09-19 08:37] ArtOfCode- commented on #27
Huh, I thought I locked this down to admins.

[2017-09-19 08:38] ArtOfCode- commented on #28
This can also be solved with the key value.

[2017-09-19 16:38] #25 closed

[2017-09-21 14:25] #28 closed

[2017-09-21 14:25] #22 closed

[2017-09-21 14:48] #27 closed

[2017-09-21 20:09] izwick-schachter commented on #16
@ArtOfCode- For the new model, I'm thinking:

- timestamps
- user (created by)
- rescue_request
- medium (text) (call, text, etc.)
- outcome (no response, left voicemail, etc.)
- details

How does that sound to you?

[2017-09-21 20:35] ArtOfCode- commented on #16
Sounds about right. Generate command: `rails g model ContactAttempt user:references rescue_request:references medium:string outcome:string details:text`

[2017-09-21 21:41] #23 closed

[2017-09-22 01:20] izwick-schachter commented on #18
These can be suggested edits. @ArtOfCode- Should we make a new model for this? Or add a `edit_for` field to the RescueRequests model?

[2017-09-22 08:46] ArtOfCode- commented on #18
Good question. A new model seems overkill, but on the other hand if we have an edit_for field then we have to filter out suggested edits everywhere else. I think probably the field on RescueRequests? That makes most sense to me at the moment.

[2017-09-22 11:16] izwick-schachter commented on #18
We could do some model magic and hide all the `edit_for` field from the RescueRequest model and make a new pseudo model for SuggestedEdits

[2017-09-22 17:55] ArtOfCode- commented on #18
We could, yeah. Go for it if you've got ideas on how to do it.

[2017-09-22 19:13] izwick-schachter commented on #18
Oh, whoops, I deleted that comment before I saw your reply. That sounds complex and like a pain in the neck, so I'm going to make a new suggested edit model which stores a serialized hash for the new values.

[2017-09-22 19:46] ArtOfCode- commented on #18
That sounds like a serious violation of database normalisation, which half defeats the point of a database. I'd *definitely* recommend a `edit_for` attribute on `RescueRequest`, now I think about it - a second model would just duplicate the request model, which is inefficient. We can use scopes to separate out suggested edits.

[2017-09-22 19:53] izwick-schachter commented on #18
I've got no idea how to do that, but I thought a serialized diff would be fine. What's the issue with that?

[2017-09-22 20:00] ArtOfCode- commented on #18
Perhaps we're thinking of different things... what do you mean by a serialized diff?

[2017-09-22 20:01] izwick-schachter commented on #18
`new_values: {extra_details: "There's also 5 pets"}` with `serialize :new_values` in the model.

[2017-09-22 20:14] ArtOfCode- commented on #18
Hmmm. Not quite what I thought, but still not entirely in line with normalisation. It'll work, though. Make it a polymorphic association, so that we can expand to suggested edits to other things in the future.

Generate command: `rails g model SuggestedEdit resource:references{polymorphic} user:references result:string reviewed_by_id:integer new_values:text`

[2017-09-22 20:15] ArtOfCode- commented on #18
(That'll also let you add `belongs_to :reviewed_by, class_name: 'User'` to the model to track the results of suggested edit reviews).

[2017-09-22 20:24] izwick-schachter commented on #18
What's the non-generator way to do this? I might have already started...

[2017-09-22 20:29] ArtOfCode- commented on #18
What have you got so far?

[2017-09-22 20:31] izwick-schachter commented on #18
I'll make a PR in a sec

[2017-09-22 20:35] izwick-schachter commented on #18
See #29

[2017-09-23 03:15] izwick-schachter opened #30 "Edit logging improvements with suggested edits"
We should stop using case notes for edit tracking and instead use self-approved suggested edits. Those should then be listed with the case notes for each rescue request. This can't be started until #29 is merged.

This should also work in conjunction with #31 in that it should say "UserXXX edited _(edit approved by userXXX)_" and that should link to the suggested edit review.

[2017-09-23 03:17] izwick-schachter opened #31 "View past reviews"
We need to create tools to view past reviews of all types -- spam, dedupe, and suggested edit.

[2017-09-23 14:47] izwick-schachter opened #32 "Empty disaster throws error"

[2017-09-23 15:12] izwick-schachter opened #33 "Unprivledged users can't complete form submission becuase of update errors."

[2017-09-23 15:15] izwick-schachter opened #34 "Case notes are created for the updates as part of submission"
This should be partially fixed by #30

[2017-09-23 15:25] izwick-schachter opened #35 "Auto comments from edits include updated_at and chart_code"

[2017-09-23 21:48] ArtOfCode- commented on #32
...elaborate?

[2017-09-23 21:49] izwick-schachter commented on #32
When you go to disaster_index, it throws an error if no requests have been created.

[2017-09-23 21:51] ArtOfCode- commented on #32
Ah, gotcha

[2017-09-24 23:15] ArtOfCode- commented on #32
Can't reproduce. What are you doing to get this error?

[2017-09-24 23:16] ArtOfCode- commented on #35
Deferred; #30 may make this obsolete.

[2017-09-24 23:16] ArtOfCode- commented on #34
Deferred; #30 may make this obsolete.

[2017-09-24 23:31] izwick-schachter commented on #32
I might've forgotten to seed the db.

[2017-09-24 23:32] ArtOfCode- commented on #17
e5cc1fd460c6495b1af7b0f9a1b381a8eb031c47

[2017-09-24 23:32] #17 closed

[2017-09-24 23:33] ArtOfCode- commented on #32
That'd probably do it

[2017-09-24 23:33] #32 closed

[2017-09-27 17:48] ArtOfCode- commented on #16
5e70a91ed781f90524f0e7d80e304c0d488aa1ff

[2017-09-27 17:48] #16 closed

[2017-09-27 17:49] ArtOfCode- commented on #30
Duplicate of #18

(okay maybe not *entirely*, but having one issue for the topic will help us track them more effectively)

[2017-09-27 17:49] #30 closed

[2017-09-27 19:10] #33 closed

[2017-09-28 01:23] #18 closed

[2017-09-28 21:06] ArtOfCode- commented on #35
N/A as of 592fd6a61dff65815ec77f7b4374b2c34f518f82

[2017-09-28 21:06] #35 closed

[2017-09-28 21:06] ArtOfCode- commented on #34
N/A as of 592fd6a61dff65815ec77f7b4374b2c34f518f82

[2017-09-28 21:06] #34 closed

[2017-09-29 15:36] shimpossible opened #36 "Triage is status"
There triage field is really a status and should be renamed to such.  Actual triage is used to mark urgency.

[2017-09-29 15:39] ArtOfCode- commented on #36
It *is* marked as status as far as I see. Can you clarify what you're looking at?

![selection_024](https://user-images.githubusercontent.com/10406565/31023718-a5b76124-a534-11e7-900e-81c072591323.png)

[2017-09-29 15:52] ArtOfCode- commented on #36
Closing pending clarification

[2017-09-29 15:52] #36 closed

[2017-09-29 16:10] shimpossible commented on #36
Yep.  I miss read rescue status as triage status

[2017-09-30 13:27] izwick-schachter opened #37 "Logged out trying to view access logs"
When logged in as a user with the developer role, going to a disaster_request and clicking "Admin: access logs" logs you out.

[2017-09-30 22:05] ArtOfCode- opened #38 "Next feature: Volunteer management"
The next big feature to build (because it's a feature we can start using *now*, even when we're not doing rescue ops) is a volunteer management system. Basically, a way to track who's who, what skills they have, what teams they're in and what roles they occupy, etc etc etc.

Credit to Alex for the idea.

[2017-10-01 01:59] izwick-schachter commented on #38
Could this also be a separate service, possibly a slack bot?

[2017-10-01 13:56] ArtOfCode- opened #39 "Rescue request create form needs a back button"
Browser back goes to the wrong place.

[2017-10-01 13:57] ArtOfCode- commented on #38
It could be both. It does need to be database-backed, though, and ideally with a front end. SCOT is ideal for that.

[2017-10-01 15:01] Lindavzisme opened #40 "Google Maps"
Should a google maps be allowed to be entered? Unsure but it doesn't let me if I have a valid google map link.

https://www.google.com/maps/place/100+SE+3rd+Ave,+Fort+Lauderdale,+FL+33394/@26.12167,-80.1420154,17z/data=!3m1!4b1!4m5!3m4!1s0x88d9005687a2d4ed:0x208077247baf019!8m2!3d26.1216652!4d-80.1398214

![2017-10-01 3](https://user-images.githubusercontent.com/32425646/31055870-aa12e77a-a697-11e

[2017-10-01 15:04] Lindavzisme opened #41 "Entering valid address on map but can't hit 'enter' to submit it"
I entered a valid address but can't hit 'enter' to submit it

![2017-10-01 4](https://user-images.githubusercontent.com/32425646/31055910-2d6a1864-a698-11e7-9cd3-81562749414a.png)

[2017-10-01 15:11] Lindavzisme opened #42 "Allows playboy.com - should it?"
Should playboy.com be allowed? should it be filtered out via adult filters? but then again Playboy mansion or strip club may need to be evacuated. Is this supposed to be public???

![2017-10-01 5](https://user-images.githubusercontent.com/32425646/31055974-004e12f8-a699-11e7-9547-8d8e79ad8950.png)

[2017-10-01 15:30] Lindavzisme opened #43 "Country Outside of Hurricane Maria (Canada)"
System asks where 'the person that enters' is but the person reporting may be at a different address

additionally Canada was not affected by Maria and shouldn't be ok? ??? ie should it be restricted to the area from NWS? or FEMA? or ???

Zip code format is different

Phone number should have Country Code Number before number

![2017-10-01 7](https://user-images.githubusercontent.com/32425646/3105

[2017-10-02 12:41] ArtOfCode- commented on #42
I'd say that behaviour is fine, at least for now. The people running this thing are adults, so there's no particular reason we need to shield them - the worst that can be entered is an NSFW link, it won't get embedded.

We can look at anti-spam measures if that becomes a problem, though.

Open to discussion on that.

[2017-10-02 12:44] ArtOfCode- commented on #43
Restricting area to a specific zone requires geofencing, which is tricky to get right. I've been thinking we should have a map center point stored for each disaster record, though, and we can extend that with a radius - anything within `$radius` from `$map_center` is okay, anything outside isn't.

[2017-10-02 12:50] izwick-schachter commented on #43
That is a part of the gmaps API. It shouldn't be too hard.

[2017-10-02 12:50] ArtOfCode- commented on #43
If you already know about that, it's all yours :)

[2017-10-07 08:32] ArtOfCode- opened #46 "Edit improvements"
We need to improve broadcast item edit functionality.

 - [x] Add a `belongs_to :user` association to `Broadcast::Item`.
 - [ ] Let authors of broadcast items edit them at any time
 - [ ] Let people with the (new) BroadcastReviewer role edit any item, any time.

[2017-10-07 08:39] ArtOfCode- opened #47 "Duplicate item review"
We need a way to track down and remove (deactivate) any items that are duplicates of those already entered.

 - [ ] When an item is submitted, if it has *identical* text to another item that already exists, ask the user to confirm that they want to submit it again.
 - [ ] Add a way to find *similar* texts - not identical, but there are a number of items that say the same thing that also need to be

[2017-10-07 12:21] izwick-schachter commented on #46
Is this not already true? Anyone with the correct roles can edit.

[2017-10-07 12:22] izwick-schachter commented on #46
Oh! To confirm, you want me to take edit powers away from everyone and only let either authors or BroadcastReviewers edit?

[2017-10-07 19:55] Lindavzisme opened #48 "Review Button"
Instead of "Finish" - replace with "Review" and show a summary with an edit option. Then on the Summary page, have a button that says "Submit Rescue Request".

I mean, on the Summary page, there are TWO options: "Edit Request" and "Submit Rescue Request".

[2017-10-07 19:56] Lindavzisme opened #49 "Column Width"
Here's another "quick fix" for that page - please, change the column widths so that Content is perhaps twice its current width. And "Source" should have "wrap - cut off", instead of driving the column width on that page

[2017-10-07 19:57] Lindavzisme opened #50 "Add Item"
can you go to our current data entry form and move the "Add Item" link from the bottom of the page to the top of the page??

[2017-10-07 19:59] ArtOfCode- commented on #46
Yep, or developers/admins

[2017-10-07 20:01] Lindavzisme opened #51 "Replace Deprecate Button"
Speaking of the broadcast table, can we replace the "Deprecate" button with a big red x box and can we merge the translated column into the "Add translation"  link column by having it put a little star next to everything untranslated?

[2017-10-07 20:10] Lindavzisme opened #52 "Two Content Boxes Side by Side"
A different "quick fix" that might be easier? On the Input form - show the Content box already open for the Spanish niput and don't "hide" it

I'd really rather see - in the "View" page - the 2 content boxes side-by-side. Then, if there's no translation  - the box is empty!!!

[2017-10-07 20:43] epetkus commented on #39
@ArtOfCode- Hey. I would love to get this done for you. Any preference of positioning? Also if user is on Stage 2, clicks the new button back to Stage 1 (accidentally) do we need a button for back to Stage 2 (with preserved progress) or we force user to re-select location on the map/input field? Thanks.

[2017-10-08 00:12] ArtOfCode- commented on #39
@epetkus Double points if you can make both back and forward buttons - i.e. back takes you to the previous stage, and forward to the next stage.

[2017-10-08 00:12] ArtOfCode- commented on #51
done

[2017-10-08 00:12] #51 closed

[2017-10-08 00:13] ArtOfCode- commented on #50
done

[2017-10-08 00:13] #50 closed

[2017-10-08 13:39] izwick-schachter commented on #31
This was completed

[2017-10-08 13:39] #31 closed

[2017-10-08 13:40] izwick-schachter commented on #41
Is this still an issue now that autocomplete has been fixed?

[2017-10-08 13:42] izwick-schachter commented on #49
3b687f6ce5ec94bcbbc65ed04e416fbcaf3c9be1

[2017-10-08 13:42] #49 closed

[2017-10-08 13:43] izwick-schachter commented on #39
Is this irrelevant now that the form is all on one page?

[2017-10-08 13:44] #37 closed

[2017-10-08 13:50] izwick-schachter commented on #48
Isn't this already the case? You click "Contine" and go to the page with your request. You can either edit or do nothing.

[2017-10-08 18:45] ArtOfCode- commented on #39
Might be, are

[2017-10-08 18:54] epetkus commented on #39
This is why back/forward doesn't work, as it is the same URL. What I am about to do is literally to introduce JS based navigation for all 3 steps of the form. Which works as following:
* On form render (first step) no navigation is present
* Once on second step - button back will appear, and if navigate back, since we have selection from step one we will have forward button
* Same concept carried

[2017-10-09 01:48] izwick-schachter commented on #39
The way I was thinking we could do it is by having a separate action for each stage, and separate the "Choose Location" and "Confirm Location" part. That way browser back will work as intended. We can also include back and forward buttons.

Totally JS based nav is even more awesome, if you want to do that, as long as it will cooperate with browser back. I don't know how it'll work because I've nev

[2017-10-10 12:17] #46 closed

[2017-10-10 12:38] Lindavzisme opened #53 "Task-flow for reviewing content."
per Meghan UX

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507581524000053?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 12:40] Lindavzisme opened #54 "Sending content out to different media."
per Meghan UX

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507581524000053?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 12:41] Lindavzisme opened #55 "Better outputs for Broadcast"
per Meghan UX

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507581524000053?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 12:43] Lindavzisme commented on #38
I have links to some open source Volunteer Management systems. I will add here when I copy them

[2017-10-10 12:45] Lindavzisme opened #56 "Add 'Projects' to Github"
Can someone enable my permissions so that I can add Projects or can you add the following projects 'Rescue', 'Broadcast', 'Volunteer', 'Translation' 'ArcGIS'

[2017-10-10 12:46] Lindavzisme commented on #53
Per Meghan

[2017-10-10 12:56] ArtOfCode- commented on #56
Invitation pending acceptance

[2017-10-10 12:56] #56 closed

[2017-10-10 13:10] Lindavzisme opened #57 "Data visualization"
per Christopher Bellmyer

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507581658000088?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 13:14] Lindavzisme opened #58 "GIS mapping"
per Christopher Bellmyer and thesecretmaster
https://crowdrescuehq.slack.com/archives/C77M927UL/p1507581658000088?thread_ts=1507578972.000312&cid=C77M927UL

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507583686000388?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 13:22] Lindavzisme opened #59 "Better flow from a personal view of the victim of an event to safety options and resources"
per kayleefrye

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507584066000136?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 13:24] Lindavzisme opened #60 "Reduce Duplicate Entries"
per Meghan UX

Some way to reduce duplicate entries (stop them from getting made), which probably means seeing some details about other entries. Like - we've received other requests from that general area, could these be the same? - type of queries.

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507588260000280?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 13:25] Lindavzisme opened #61 "Better alerts before the disaster."
per Meghan UX

Like we did to get the zello info out before Maria

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507588331000091?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 13:26] Lindavzisme opened #62 "Flow charts for volunteers to know what does where and who does what"
per Lynn

https://crowdrescuehq.slack.com/archives/C77M927UL/p1507588348000191?thread_ts=1507578972.000312&cid=C77M927UL

[2017-10-10 13:40] ArtOfCode- commented on #52
Completed by 1bb39b2c93fbd3bbbe9c6abb614369fd6644f58a

[2017-10-10 13:40] #52 closed

[2017-10-10 13:41] ArtOfCode- commented on #62
This is an org-wide thing, rather than a SCOT thing

[2017-10-10 13:41] #62 closed

[2017-10-10 13:42] ArtOfCode- commented on #60
Duplicate of #47

[2017-10-10 13:42] #60 closed

[2017-10-10 13:43] ArtOfCode- commented on #57
This and #58 are more likely to be done with specialist tools outside of SCOT, but there may be some stuff we can do.

[2017-10-10 18:06] izwick-schachter opened #63 "Role filter on role management page"
It'd be nice to have a dropdown filter by role on the role managment page.

[2017-10-10 18:10] izwick-schachter commented on #53
This link is to the following message:

Can you please be more specific? This doesn't help us build anything. What would a better output be? What do you mean by "sending content out to different media"? What would a better task-flow for reviewing content be?

[2017-10-10 18:14] izwick-schachter commented on #54
This link is to the following message:

By Meghan UX

Can you please be more specific? This doesn't help us build anything. What do you mean by "sending content out to different media"?

[2017-10-10 18:16] izwick-schachter commented on #55
This link is to the following message:

By Meghan UX

Can you please be more specific? This doesn't help us build anything. What would a better output be? "Better" isn't very clear and in order for us to build something, we'd like to here *how* you think it could be better.

[2017-10-10 18:18] izwick-schachter commented on #57
That links to the following message:

By Chris B.

What are some types of data visualization you'd like to see? We're talking about integration with ArcGIS, but do you have any specific requests?

[2017-10-10 18:22] izwick-schachter commented on #58
This links to the following messages:

By Chris B.

By thesecretmaster

Do you have any _ideas_ for better ways?

[2017-10-10 18:24] izwick-schachter commented on #59
Can you clarify what that flow would be? Saying it should be "better" doesn't help us improve SCOT.

[2017-10-10 18:27] izwick-schachter commented on #61
For people who don't remember or weren't here, can you clarify what we did to get the zello info out for Maria? If I recall correctly, we tweeted it out, which is totally unrelated to SCOT. I don't think SCOT has any role in pre-disaster prep. Because I think it's outside SCOT's scope, I'm closing this issue. If you can point out a thing SCOT should be doing pre-disaster, add it here and I'll reop

[2017-10-10 18:27] #61 closed

[2017-10-10 18:30] izwick-schachter commented on #47
To include some info from #60, we should have deduplication on submission of broadcast items and of rescue requests.

[2017-10-10 20:17] Lindavzisme opened #64 "Enhancements and Bugs"
SCOT bugs straight to issues. SCOT enhancements that don't have detail yet into a project on SCOT's repo. SCOT enhancements with detail into issues.

[4:47]
Enhancements from Ted's message into a project on the GH _org_ rather than the SCOT repo - that's here: https://github.com/orgs/CrowdRescueHQ/projects/3

[2017-10-10 20:20] Lindavzisme commented on #62
Sorry, please don't close this. We have not defined what this is yet and may be part of the broader 'volunteer' management.

[2017-10-10 20:34] Lindavzisme commented on #61
We have not defined the scope of SCOT. Until we do, I would like to keep it open.

[2017-10-10 20:37] Tensibai commented on #62
This sounds more part of a linked documentation project than the application itself. Should the documentation be part of the application?

This has a positive: any change should go through a pull request and be reviewed
And a negative : It needs a professional technical writer to review them so there's nothing misleading included

[2017-10-10 21:04] Lindavzisme commented on #64
This can be closed.

[2017-10-10 21:04] #64 closed

[2017-10-10 21:05] #59 closed

[2017-10-10 21:06] Lindavzisme commented on #55
Moving to Project Wishlist Until Detail is Flushed Out

[2017-10-10 21:06] #55 closed

[2017-10-10 21:07] Lindavzisme commented on #54
Moving to Project Wishlist Until Detail is Flushed Out

[2017-10-10 21:07] #54 closed

[2017-10-10 21:07] Lindavzisme commented on #53
Moving to Project Wishlist Until Detail is Flushed Out

[2017-10-10 21:07] #53 closed

[2017-10-10 21:07] Lindavzisme commented on #57
Moving to Project Wishlist Until Detail is Flushed Out

[2017-10-10 21:08] #57 closed

[2017-10-10 21:08] Lindavzisme commented on #58
Moving to Project Wishlist Until Detail is Flushed Out

[2017-10-10 21:08] #58 closed

[2017-10-10 21:20] izwick-schachter opened #65 "New ticker/Announcement area"
There should be an area to put related disaster links one of which is Breaking News, The Breaking News may be a ticker to be displayed per settings.

[2017-10-10 21:34] Tensibai commented on #58
Adding this here to avoid spamming, but could Whishlist be a milestone without end date to affect issues to be discussed instead of closing where they'll be forgiven on short term?

[2017-10-10 22:18] izwick-schachter opened #66 "Capitalize alzheimer checkbox"
On the rescue request creation form, the checkbox should be capitolized

[2017-10-10 22:22] izwick-schachter opened #67 "Auto-calc lat/lng"
Any time a record is updated/created and lat or lng is nil, we need to auto generate them. If possible, we should have some way to notate if they were auto generated or not. We could auto generate address from lat/lng.

This could be accomplished with either AR validations or JS based. I'd lean toward JS based because it would be easier to notate that they are approximate.

[2017-10-10 22:29] #66 closed

[2017-10-10 22:32] Tensibai commented on #67
Still a inherent fear client based Calc can be abused, there will be people fucking up the reports if they can, any client side thing should be considered unsafe just in case

[2017-10-10 23:22] ArtOfCode- commented on #58
Wishlist is a project, @Tensibai; stuff that still needs discussion will be discussed in Slack

[2017-10-10 23:39] Tensibai commented on #58
Aww I did misunderstood the closure message as moving the issue to an unknown tag where it's a different project, sorry for the noise :/

[2017-10-10 23:40] izwick-schachter opened #68 "Pagination is broken"

[2017-10-11 01:06] ArtOfCode- commented on #58
No worries :)

[2017-10-11 01:07] ArtOfCode- commented on #68
define broken?

[2017-10-11 01:08] izwick-schachter commented on #68
CSS broken. I would attach a screenshot, but GH got angry.

[2017-10-11 01:22] izwick-schachter commented on #68
![screenshot from 2017-10-10 19-39-30](https://user-images.githubusercontent.com/15304293/31417975-18356726-ae01-11e7-8043-04b9b1aa0485.png)

[2017-10-11 01:23] ArtOfCode- commented on #68
Ah, yeah. I guess `will_paginate-bootstrap` hasn't been updated for Bootstrap 4 then.

[2017-10-11 01:24] izwick-schachter commented on #68
See bootstrap-ruby/will_paginate-bootstrap/issues/45

[2017-10-11 01:27] ArtOfCode- commented on #68
or just use https://github.com/delef/will_paginate-bootstrap4

[2017-10-11 04:33] izwick-schachter opened #69 "Admin options should be on seperate line"
In each rescue request page, at the bottom the two admin options are on the same line when they should be on separate lines.

[2017-10-11 12:04] #69 closed

[2017-10-12 02:06] MeghanUX opened #71 "Pull "source" info and output to spreadsheet"
@ArtOfCode- Create the ability to "pull" data from the Broadcast "Source" data. Each day, pull all the "new" sources and output to a google spreadsheet on our drive. Obviously, the first pull will include - everything up to today's date. Even better - output two columns - one for "source" and one for "Region / Municipality". Add pull date - "somewhere" (tab name?)

[2017-10-12 02:31] MeghanUX opened #72 "Integration translations into broadcast"
To avoid getting Translation requests that belong in Broadcast. let's change the text on the Translations New page.

OLD
**Content**. What needs translating? Either paste the text here, or a link to the item that needs translation.

NEW
**Content**.  If this is a BROADCAST translation request, please do NOT use this form. All other items needing translation - paste the text or a link to the item i

[2017-10-12 02:34] izwick-schachter commented on #72
I think we can expand this to be a way to link translation requests to broadcast items. That way, when a broadcast item is created, a user can create a translation request on it, and translators won't have to track both the "Needs translation" page in broadcast and then "Needs translation" page in translations.

[2017-10-12 03:31] MeghanUX opened #73 "Translation requests - change "my requests" to "request status" or similar"
In the Translation queue (pull-down) for item #2 "My requests", can this go to a general status page instead? Let's say I ask personX to submit a request for me. I'd still like to know it's status. So let's just have one big ol' page with all of the statuses on it. Then on the Status page, I would also like a filter.

Also, the use of "me, my" and "you" - is very confusing because of the different

[2017-10-12 05:04] #48 closed

[2017-10-12 05:06] ArtOfCode- opened #74 "Save broadcasts"
Save broadcasts at broadcast time and make saved broadcasts publicly accessible.

[2017-10-12 05:16] izwick-schachter commented on #73
Are you just suggesting we rename the current menu options and add some columns to the table?

[2017-10-12 06:00] ArtOfCode- commented on #74
Done as of 3c52d390ad6898bab03d0c54b6b327b40c9cc61f

[2017-10-12 06:00] #74 closed

[2017-10-12 12:35] ArtOfCode- commented on #72
Completed by 7e50931e50501f48f6a4da81c2875d55f461ba25

[2017-10-12 18:06] izwick-schachter opened #75 "Hide deprecate and edit links on public broadcast links"
Even if you're not logged in, through the broadcast viewer you see the edit and depricate links.

[2017-10-12 18:12] izwick-schachter opened #76 "UI Improvements on script"
There should be a space between the ID and the date.

[2017-10-12 20:35] MeghanUX commented on #75
Agree. Deprecate and edit links only to "logged in" users.

[2017-10-13 01:32] izwick-schachter commented on #72
I mean that it needs to be fully integrated, not just this linky functionality

[2017-10-13 01:37] #76 closed

[2017-10-13 17:36] ArtOfCode- opened #77 "UI focus on Spanish -> English translations"
The broadcast input form doesn't validate anything, so you *can* enter only Spanish text and not English, but the UI doesn't reflect that.

 - [x] Remove the "required" and "optional" notes from the English and Spanish content fields; instead include a note that *at least one* of them is required.
 - [x] Include items that only have a Spanish version in the needs-translation list.
 - [ ] Make the

[2017-10-13 17:50] ArtOfCode- commented on #72
Define "integrated"?

[2017-10-13 18:18] izwick-schachter commented on #72
Each broadcast item should `have_many :translations`, and all the UI should reflect that.

[2017-10-13 18:41] MeghanUX commented on #72
If I understand, then yes - Translators should get a single "needs translation" list, that they can sort as they wish. Which also indicates ultimate destination(s). So if an item is intended for broadcast - it will say that. And if for Broadcast AND also to use in a graphic. It will say that. YES.

[2017-10-13 18:43] MeghanUX commented on #72
My other concern is on the INPUT end. We have a task-flow for Broadcast, that has two content fields. We don't want ppl to then go over to Translation - and put the request in AGAIN as a separate translation request. Because it's already handled on the Broadcast input page automatically. so, the "Request Translation" should somehow indicate to the REQUESTORS - "stop, don't put Broadcast translatio

[2017-10-13 18:44] MeghanUX commented on #77
Yes, yes, yes! I can cry in joy, now!

[2017-10-13 18:47] MeghanUX commented on #77
Does this "issue" also address how the UI will look for the Translators? Because it would be nice to be able to sort which kind of translation. Spanish -> English or English -> Spanish. Because these tasks often fall to two different sets of people. For example, with Google translate and a good dictionary, I can translate Spanish -> English. What's needed is "understanding" of Spanish original PLU

[2017-10-13 19:37] ArtOfCode- commented on #72
@izwick-schachter Why `has_many`? You're only going to need to translate one way, surely? At the moment, a broadcast item `belongs_to` a translation, and translation `has_many` broadcast items.

[2017-10-13 19:40] ArtOfCode- commented on #77
It certainly can do

[2017-10-13 19:53] MeghanUX commented on #72
On the "Edit Broadcast Item" page...
As we change the original Input page, we should keep the associated Edit page in sync.

One way - just somehow link the text - so changes in the original are just re-displayed on the Edit page???

Otherwise, I suggest this wording change

**Original.**
1. Content Required. The English version of the post you're working on.
2. Translation Optional. Enter the Spa

[2017-10-13 19:57] MeghanUX commented on #72
And while we are on this page, can you fix the format for the Day/Time?

**Original**
2017-10-13T19:19:03Z

**Suggested**
2017-10-13, 19:19:03 <timezone>
[note spaces and use of punctuation)

Where "timezone" indicates BOTH - 3 letter code and common name. And please, no military or jargon terms (like Zulu time).

Like this:
EST - Eastern Standard Time
AST - Atlantic Standard Time

Or even this:
E

[2017-10-13 19:58] MeghanUX commented on #72
oops, the above is missing this line:

2017-10-10, 19:19:25 <timezone>

[2017-10-13 20:03] ArtOfCode- commented on #72
I don't think we *can* fix the time format, actually. I know it's not the best format for users, but - IIRC - it's required by our datepicker plugin to be in that format. If we're lucky, it might be possible to do some clever scripting and hack it into the right format, but that needs more substantive work on it. Can you do me a separate issue for that, @MeghanUX, and I'll have a look at it when I

[2017-10-13 20:13] Tensibai commented on #72
Maybe a silly idea, but couldn't it be 'updated' to a more readable format at display by a JS hook? Keeping the ISO format in requests, just reformatting at display, falling back to Original ISO in case of problem within the JS

[2017-10-13 21:14] MeghanUX commented on #73
**Update**. I some changes have been made already (yeah!), so now updating the issue.

Menu - there are now 4 choices in there, and they are fine and resolve the menu issue, except this small wording change.

 Menu Item "open requests" --> "unassigned requests"
--------------------------
**Pages**
===============
** New Request**
1. Note the new request has these fields - and they should show up i

[2017-10-13 21:40] MeghanUX commented on #72
Tensibal sounds good. I don't speak code. Even just inserting spaces makes it more human readable.
Side note - I am incredibly crappy at "just insert it into..." or "make a new issue..." Luddite. Learning. Hey, I can now "Comment"! Inside GitHub! Progress!

[2017-10-13 21:45] MeghanUX commented on #65
Hi all. Not sure if this is the correct place.

For any items originally entered under category "Breaking News", can we do the following:
1. Display them in a special section in the generated Broadcast script. Below Script title. Below "Intro". Above "General News".
2. Date-stamp them. Stop displaying them by EOD (after last broadcast for the day)
3. After their one-day appearance, change their ca

[2017-10-13 21:51] MeghanUX commented on #38
Have you checked with Linda? I think she may have been researching / collecting models we could build on? And loop in our new HR guy. Chris G?? (not the map guy, who is also Chris). He may have some thoughts on needed fields, ...

[2017-10-13 22:11] izwick-schachter commented on #72
The problem is that it's created by a JS library, so we'd have to modify that library which could be a lot of work for very little return.

[2017-10-13 22:12] izwick-schachter commented on #72
Also @MeghanUX please don't just other things into this issue. If you want another thing fixed, please make a new issue.

[2017-10-13 22:15] izwick-schachter commented on #73
@MeghanUX Can you please make new issues for the new requests?

[2017-10-14 00:12] MeghanUX commented on #73
Shall I do it at the "page" level?

[2017-10-14 03:29] izwick-schachter opened #78 "Any user (without any roles) can make translation requests"
Anyone who creates an account can spam translation requests. This seems like it shouldn't be allowed.

[2017-10-14 03:29] izwick-schachter commented on #73
Sure

[2017-10-14 21:06] izwick-schachter commented on #77
The first 2 checkboxes will be resolved when #80 is merged. The third is an easy fix from there. Waiting on review from @ArtOfCode- on #80.

[2017-10-14 21:42] izwick-schachter commented on #75
Will do by moving the elements to the view and only modifying those elements using JS, as soon as #79 is merged.

[2017-10-14 22:22] #75 closed

[2017-10-14 22:42] ArtOfCode- commented on #78
That was deliberate, not a bug. I don't really want to have to add permissions to literally every user just so they can fire a translation request. Any abusive accounts we can just nuke. Objections?

[2017-10-15 17:17] izwick-schachter commented on #78
Nope

[2017-10-15 17:17] #78 closed

[2017-10-15 23:27] ArtOfCode- opened #81 "Notes area for broadcast items"
We need a place to put notes on broadcast items.

We might be able to adapt CaseNote to a polymorphic association and use those for it, just requires more checking of what type we're dealing with in views.

[2017-10-15 23:31] MeghanUX opened #82 "Scot - export function"
When dispatch reads off the broadcast, it is often easier to review, edit, and read - from a format which is not a web page. So they export the content to - email, Word, Google (HTML?, other?). It would be nice to have an "export" function for this.

Note: Some people are reading the generated script - off a mobile phone. The web page is not optimized for viewing on that type of screen.

[2017-10-15 23:35] MeghanUX opened #83 "Add notes to broadcast items"
As individual items are reviewed, fact-checked, copy-edited and translated - there is meta-information generated.

For example - this item represents a combination of former IDs 5, 6, 7, 8. Or, this has been fact-checked and the address updated to match X list. Or this item was translated using Google translate and needs to be updated. Or - I'm still fact-checking this item - please do NOT broadca

[2017-10-15 23:36] ArtOfCode- commented on #82
Optimizing for mobile shouldn't be too difficult. I think we're just missing a `<meta>` tag.

[2017-10-15 23:41] ArtOfCode- commented on #81
Duplicate of #83

[2017-10-15 23:41] #81 closed

[2017-10-16 01:36] izwick-schachter opened #84 "Keep items in script long term"
Broadcast would like a feature where items can stay in the script regardless of date settings. I think we should use `originated_at = NULL` and just always put those in the script.

[2017-10-16 01:44] izwick-schachter opened #85 "Translation Priority (“Before Next Broadcast”)"
In selecting the priority level for the translations, it might be useful to have a “needed for next regular broadcast” option.

The options for requesting translation include “urgent”, “semi-urgent”, etc. I submitted an urgent request (needed something translated quickly so it could appear in the broadcast a couple of hours later). I subsequently learned that the translations channel has a policy

[2017-10-16 02:19] izwick-schachter opened #86 "Adding deduplication to the creation flow"
Display all other recent (within 48 hours) entries for the municipality when it's selected in the creation form. This will require and endpoint that returns recently created broadcast items and client side JS to pull that and render it before the user submits the form.

[2017-10-16 02:20] izwick-schachter commented on #47
Partially solved (checkbox 1) by #86

[2017-10-16 02:26] izwick-schachter commented on #83
@ArtOfCode- I think we should make a custom model for this.

[2017-10-16 02:28] izwick-schachter opened #87 "Script mobile optimization"
Some people are reading the generated script - off a mobile phone. The web page is not optimized for viewing on that type of screen.

[2017-10-16 02:29] izwick-schachter commented on #82
Moved mobile stuff to #87; I've declined unless @ArtOfCode- thinks it's doable without too much trouble.

[2017-10-16 02:34] izwick-schachter commented on #71
This is infeasible, unless @ArtOfCode- has other ideas?

[2017-10-16 02:35] izwick-schachter commented on #4
Now it's done by ERSI and that map. Really, any tooling around this can't be improved so there's no reason to do this within SCOT.

[2017-10-16 02:44] MeghanUX commented on #84
i think the issue here is that different items have different "expiry" dates and that SOME of them are known in advance. For example weather reports with things like flash flood warnings actually do have a (known at the time of issue) expiry date. Other things, like "bridge is out" need to stay in the broadcast until the bridge is fixed - which is unknown, but certainly longer than 3 days.

What m

[2017-10-16 03:11] izwick-schachter opened #88 "Change all time to AST"
Puerto Rico observes AST, we need to format the time accordingly.

[2017-10-16 04:31] MeghanUX opened #89 "Need a data scrape - sources + Municipality"
Hi, we are starting a project to list all the resources we are accessing to create a list. Also agencies we are working with, etc.

Can you scrape the data from Scot to provide us with a spreadsheet (or cvs file) that includes:
- source info
- linked to Municipality
- optional: name of person who input it (so we can follow up with questions, if needed)

This is needed by a small group in a locked

[2017-10-16 12:02] ArtOfCode- commented on #4
I disagree there. Reopening for now, we can discuss details in a few hours.

[2017-10-16 14:01] ArtOfCode- commented on #89
Completed

[2017-10-16 14:01] #89 closed

[2017-10-16 14:27] ArtOfCode- commented on #88
Looking at the wider picture... we _actually_ need to create some sort of site settings thing, one of which can be which timezone to display times in. Then, when we move to operations in a different part of the world, we can change the TZ accordingly.

[2017-10-16 16:23] ArtOfCode- commented on #71
Totally feasible, but perhaps not advisable in terms of performance. We could supply a CSV API, though, if that would suit - @MeghanUX?

[2017-10-16 16:24] ArtOfCode- commented on #82
Yeah, I'm going to defer it. Adding an "email this to me" button isn't too difficult, we just need to set up SES auth correctly.

[2017-10-16 16:25] ArtOfCode- commented on #83
What reasoning, @izwick-schachter?

[2017-10-16 16:36] #85 closed

[2017-10-16 23:33] izwick-schachter commented on #84
From @MeghanUX: If you ALLOW future dates, then the broadcasters can keep setting dates in the future - for items they want to "stick around". I think that's brilliant!

[2017-10-17 00:52] ArtOfCode- commented on #84
I think we do allow future

[2017-10-17 01:45] izwick-schachter opened #90 "Dedicated editor view"
We need to create an edit view. From @MeghanUX:

Some Notes:
- the content is presented TWICE - once in a "view only" box, and again, below in EDITABLE boxes (both boxes can be edited)
- In the grey area near the top - indicate any info we can gather about the "last known edit / change"
- add a NEW box - "Notes" - free-form text entry. "Date/time" is added later, automatically and will display in

[2017-10-17 21:01] izwick-schachter commented on #77
@ArtOfCode- @MeghanUX Any issues with me closing this and opening a new "sorting" issue?

[2017-10-17 21:03] izwick-schachter commented on #88
Quote from @MeghanUX in #72:

And while we are on this page, can you fix the format for the Day/Time?

Original
2017-10-13T19:19:03Z

Suggested
2017-10-13, 19:19:03 "timezone"
[note spaces and use of punctuation)

Where "timezone" indicates BOTH - 3 letter code and common name. And please, no military or jargon terms (like Zulu time).

Like this:
EST - Eastern Standard Time
AST - Atlantic Standard

[2017-10-17 21:04] #72 closed

[2017-10-17 21:06] izwick-schachter commented on #82
I've got no idea how to do this, so if you can do it, do it whenever you have time.

[2017-10-17 22:16] ArtOfCode- commented on #87
dcd45488439c1246e0dce4b89a552a6161945276

[2017-10-17 22:16] #87 closed

[2017-10-17 22:27] ArtOfCode- commented on #73
If I could, I would willingly include every field we have in the database in every table. However, once you go over about 5-6 columns, _especially_ if any of them are lengthy, there just isn't enough space on a screen. This is coming from a guy with a big screen, too, so I can imagine it's only worse on smaller screens or mobile.

I'm quite happy to _change_ some of the info that's in the table, i

[2017-10-18 01:04] izwick-schachter opened #91 "Sort all the things!"
We need to make more of the things sortable! @MeghanUX, what are all the things you want to get sorted?

[2017-10-18 01:04] izwick-schachter commented on #77
See #91

[2017-10-18 01:04] #77 closed

[2017-10-20 01:38] #90 closed

[2017-10-20 01:38] izwick-schachter commented on #84
@ArtOfCode- status completed?

[2017-10-20 01:52] ArtOfCode- commented on #84
Yup.

[2017-10-20 01:52] #84 closed

[2017-10-20 03:14] izwick-schachter opened #92 "Add cancel buttons to all the forms"
@ArtOfCode- said it was possible to do `<input type="reset">` to make the form reset its data, and @MeghanUX requested that all the forms have cancel buttons, so now I made an issue.

[2017-10-20 03:58] izwick-schachter opened #93 "Return to script button on /added"
On /broadcasts/items/:id/added, we've gotta add a "Return to script" button, if the user has returned from editing a script.

[2017-10-20 16:16] ArtOfCode- commented on #92
02c878f39e75761146bea3133ff6ad88f2f60031

[2017-10-20 16:16] #92 closed

[2017-10-20 16:47] #93 closed

[2017-10-20 21:45] izwick-schachter commented on #91
Some images from @MeghanUX:

<img width="697" alt="scot_broadcast_input_v02png" src="https://user-images.githubusercontent.com/15304293/31842894-55adfe82-b5be-11e7-8dd0-44dd94a9877b.png">

<img width="720" alt="scot_broadcast_input" src="https://user-images.githubusercontent.com/15304293/31842905-5fcc07e2-b5be-11e7-99a7-a23106f9f97e.png">

[2017-10-20 22:14] ArtOfCode- opened #94 "Widow/orphan control"
We should avoid letting page breaks occur between municipality headers and the start of their text when printing.

[Hint](https://www.w3schools.com/cssref/pr_print_pagebi.asp)

[2017-10-20 22:20] #94 closed

[2017-10-20 22:28] ArtOfCode- opened #95 "Reset translation request status after a BCI edit"
When a BC item is edited, it should reset the status of its attached translation request so that it's not still marked Completed.

We should also create a new TR status specifically to indicate this state (thanks @izwick-schachter).

[2017-10-20 22:29] izwick-schachter commented on #95
@ArtOfCode- We should also making setting this new [Edited] translation request status optional, because sometimes edits don't require re-translation.

[2017-10-20 22:30] izwick-schachter commented on #95
See my previous comment

[2017-10-20 22:30] ArtOfCode- commented on #95
I'm making it always happen for now, because broadcasters translat

[2017-10-20 22:30] #95 closed

[2017-10-20 22:30] izwick-schachter commented on #95
But there's look at the last feature request on the list!

[2017-10-20 22:31] ArtOfCode- commented on #95
We can mark that complete too, continuous monitoring on both.

[2017-10-20 22:32] izwick-schachter commented on #95
A little "requires retraslation" checkbox can't be that hard...

[2017-10-20 22:46] ArtOfCode- commented on #95
No, in terms of code it's not, but the point is that the people editing don't know whether they need to tick it or not, which kinda renders it useless.

[2017-10-21 00:26] #83 closed

[2017-10-21 16:00] bmoelk commented on #91
Seems like the easiest way to resolve this issue is to apply sorting directly on the client via: https://datatables.net/ (jquery dependent, full featured, heavy) or http://github.hubspot.com/sortable/ (no dependencies, simple, getting a bit longer in the tooth)

Is there an option to push all data directly to the client and paginate there or should we maintain server-side pagination?

[2017-10-21 16:03] ArtOfCode- commented on #91
Ideally, we should keep server-side pagination - sending all the data to the client at once is not such a great solution once your dataset starts getting larger.

[2017-10-22 20:42] izwick-schachter commented on #73
I'm splitting this into smaller issues, to make it more easy to complete.

[2017-10-22 20:42] #73 closed

[2017-10-22 20:43] izwick-schachter opened #96 "Remove "My requests" and instead have a sortable list of all requests"
From @MeghanUX in #73:

[2017-10-22 20:44] izwick-schachter commented on #91
From @MeghanUX in #73:

Reply from @ArtOfCode- in #73:

[2017-10-22 20:45] izwick-schachter opened #97 "Rename "open requests" to "unassigned requests""
As per @MeghanUX in #73

[2017-10-22 20:49] izwick-schachter opened #98 "Translation request table changes and priority updates"
From @MeghanUX in #73:

[2017-10-22 20:52] izwick-schachter opened #99 "Updates to translation requests views"
From @MeghanUX in #73:

AND:

[2017-10-23 10:22] #96 closed

[2017-10-23 10:25] ArtOfCode- commented on #98
Extra columns are [status-declined]. We can change the priority labels, though.

[2017-10-23 17:10] izwick-schachter commented on #71
Removing status-declined because we can build CSV export.

[2017-10-24 12:17] #98 closed

[2017-10-24 15:18] ArtOfCode- opened #100 "Add a text search capability"
Source: https://crowdrescuehq.slack.com/archives/C74G14VL4/p1508847684000106?thread_ts=1508831250.000327&cid=C74G14VL4

As to SCOT, fairly easy solution there: add a "search all entries" button. Just make it a localized search to everything that's been written thus far. Right now, we have a municipality search. I'd keep that, but also expand it to just a word-by-word search. So, "blue water" would

[2017-10-24 16:40] #100 closed

[2017-10-24 22:38] ArtOfCode- opened #101 "Data dump per-municipality"
Source: snazzyo

the ability to data dump just ONE municipality at a time (since 20 Sep) so we can do a municipality total assessment

[2017-10-25 17:29] ArtOfCode- commented on #101
Already satisfied, enhanced by 0d412ae6e0a00b9429be72340bb55e1255d0e274: https://crowdrescuehq.slack.com/archives/C77RNP4AG/p1508951391000044

[2017-10-25 17:29] #101 closed

[2017-10-26 02:53] ArtOfCode- commented on #97
Declining; "unassigned" isn't an accurate description of the list. It also contains translations pending review.

[2017-10-26 02:53] #97 closed

[2017-10-26 02:59] ArtOfCode- opened #102 "Expand API"
Convert the existing API to the [grape framework](https://github.com/ruby-grape/grape); expand it so that it covers all available data types and a reasonable subset of use cases.

[2017-10-26 03:03] ArtOfCode- commented on #71
If this isn't an urgent need, it can happen as part of #102

[2017-10-26 06:03] ArtOfCode- commented on #47
**&rarr;** #86

[2017-10-26 06:03] #47 closed

[2017-10-26 06:14] ArtOfCode- opened #103 "Edited translation diffs"
Add a diff for translations that have been edited to highlight changes.

[2017-10-26 18:17] ArtOfCode- commented on #103
[status-deferred]. This is actually pretty difficult.

[2017-10-27 22:25] EMCain opened #105 "Behavioral tests with Cucumber -- what needs testing?"
I'm planning to add some behavioral tests in the coming week.

Is there any functionality that's been having issues lately, or that is especially critical to avoid regressions in? Please leave a comment here describing it  (or point me to a recent issue or PR related to that issue). I will reach out with questions if I need clarification.

[2017-10-27 23:15] ArtOfCode- commented on #105
Everything, ideally :)

Most important at the moment is anything relating to broadcasts and translations requests, particularly broadcast script generation.

[2017-10-28 10:10] ArtOfCode- opened #106 "Translation request deduplication"
Translators would like to be able to:

 - [ ] Mark an issue as an exact duplicate.
   - Changes to the master should copy over to the duplicate [?].
   - Edit links to the duplicate should redirect to the master's edit page.
   - If the duplicate is associated with a broadcast item, that broadcast item should have its translation request reassigned to the master.
 - [ ] Make a note that a translat

[2017-10-28 14:49] ArtOfCode- commented on #106
Done with 29a644062ebd21a8f904ca3a0fdc4cba2695c370 and 91e51bb4ff249367dc4bc92a3ad24cdd51386645

[2017-10-28 14:49] #106 closed

[2017-10-28 15:06] #99 closed

[2017-10-28 15:11] #68 closed

[2017-10-28 15:19] ArtOfCode- commented on #71
Merging into #102.

[2017-10-28 15:19] #71 closed

[2017-10-30 03:13] ArtOfCode- opened #108 "Broadcast item status"
Broadcast items need to be sent to copy-edit review in parallel to translation. The translation list should include items that aren't copy-edited, but should have a warning when showing or translating them that translating now may result in more work later.

[2017-10-30 03:14] ArtOfCode- commented on #4
In a similar vein to this - or perhaps using the same models and data - we should build a live dispatch system.

[2017-10-30 11:21] #108 closed

[2017-11-01 04:35] EMCain commented on #105
I finally got the first behavioral test to run and pass! Yay!

I was having trouble for a long time because I didn't realize you need to do `rails generate cucumber:install`

see https://cucumber.io/docs/reference/rails

You can try running the tests on my branch if you want:

https://github.com/EMCain/SCOT/tree/add_cucumber_tests

do

[code]

right now one test is passing and one is failing, and

[2017-11-01 21:03] ArtOfCode- commented on #102
[branch: api-#102](https://github.com/CrowdRescueHQ/SCOT/tree/api-%23102)

[2017-11-03 03:05] EMCain opened #109 "Documentation request: describe and link to documentation for the tech stack + related CRHQ projects"
It would be good to write a section in the README listing the various packages and technologies this relies on, to the extent that people need to understand them, with a short description of how each is used, and links to documentation for them. Also, describing any other CRHQ projects it interacts with, and external APIs.

I can work on writing this, but I will need help with some parts.

[2017-11-03 03:17] ArtOfCode- commented on #109
All yours, Emily :) Ping the usual suspects in Slack if you need info; the thing currently on the top of my head is that it will help to have a good understanding of MySQL and RDB concepts in general.

[2017-11-03 03:18] EMCain commented on #105
Last time I was having trouble with getting login sessions to persist in the tests. This time I am going to try using Warden

https://github.com/hassox/warden/wiki/

https://github.com/plataformatec/devise/wiki/How-To:-Test-with-Capybara

[2017-11-03 03:20] ArtOfCode- commented on #105
Devise is the gem that manages user authentication; it's based on Warden, so you may have hit a good solution there :)

[2017-11-03 03:20] EMCain commented on #105
oh, thanks! I'll look into it.

[2017-11-04 20:00] izwick-schachter commented on #109
Also, feel free to make a PR. If you do, I can help write bits.

[2017-11-10 00:48] ArtOfCode- opened #111 "Changelog on login"
Each time a user logs in (or other alternative point - we could just show unread changes), show an explanation of changes that have been made since the user last visited.

[2017-11-10 10:26] ArtOfCode- commented on #111
This can be part of a larger notifications feature.

[2017-11-15 01:02] ArtOfCode- commented on #111
Notifications built

[2017-11-15 01:02] #111 closed

[2017-12-10 17:54] ArtOfCode- commented on #4
Done by CAD

[2017-12-10 17:54] #4 closed

[2017-12-10 17:55] ArtOfCode- commented on #39
Done with new CAD create form

[2017-12-10 17:55] #39 closed

[2017-12-10 17:55] ArtOfCode- commented on #65
Notifications do this

[2017-12-10 17:55] #65 closed

[2018-01-19 03:11] EMCain opened #114 "the link to the live site is wrong"
I don't think I can change this with a commit. The description of the repo on Github goes to  https://scot.artofcode.co.uk/ - it should go to https://scot.crowdrescuehq.org/ .

[2018-01-19 14:16] ArtOfCode- commented on #114
I'm no longer involved with CRHQ, which is why this repo doesn't link to the CRHQ live version. https://scot.artofcode.co.uk is dead, though, so I'll remove that.

[2018-01-19 14:41] thesecretmaster commented on #114
@ArtOfCode Can you transfer the repo to me then, since I hope to keep working on it?

[2018-01-19 14:51] artofcode commented on #114
@ArtOfCode- , not @artofcode :)

[2018-01-19 15:05] thesecretmaster commented on #114
Sorry! Hyphens are hard.

[2018-01-19 17:16] ArtOfCode- commented on #114
@artofcode I'm sure that's the second time someone's done that to you... Sorry :D

[2018-01-19 17:17] ArtOfCode- commented on #114
@izwick-schachter Negative. SCOT is still something I work on, too, so it may as well stay here. You've still got, and will keep, push access.

[2018-01-24 00:04] #114 closed, assigned to nobody